@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 1.5px;
}

body {
  background-color: slategray;
  margin: 32 px;
  padding: 32 px;
}

#quiz-container {
  display: none;
}

#topright {
  display: block;
  border: 5px solid black;
  margin-left: 40%;
  margin-right: 40%;
  max-width: 25%;
  max-height: 25%;
  position: relative;
}

.columnone {
  width: 300px;
  float: left;
  color: white;
  font-size: 1rem;
  margin-bottom: 60px;
  margin-left: 110px;
}

.columntwo {
  width: 300px;
  float: right;
  padding-bottom: 300px;
  color: white;
  font-size: 1rem;
}

.columnthree {
  margin-top: 100px;
  margin-left: 50px;
  font-family: 1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top-links {
  position: absolute;
  top: 10px;
  right: 10px;
  list-style: none;
}

#top-links li {
  display: inline;
  margin-right: 10px; /* Add some space between links */
}

header {
  text-align: center;
  border: solid black;
  padding: 40px;
}
