@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 32 px;
  padding: 32 px;
}

#quiz-container {
  display: none;
}

#start-quiz-button {
  margin-left: 490px;
}

#topright {
  height: 300px;
  width: 250px;
  border: 2px solid #383d42;
  margin-top: 60px;
}

#imgandtxt {
  display: flex;
  gap: 40px;
}

.columnone {
  width: 300px;
  color: black;
  font-size: 1rem;
  margin-bottom: 60px;
  margin-left: 110px;
  background-color: linen;
  border-left: solid black;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
}

.columntwo {
  width: 300px;
  padding-bottom: 10px;
  color: black;
  font-size: 1rem;
  background-color: linen;
  border-left: solid black;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
}

.columnthree {
  margin-top: 100px;
  margin-left: 50px;
  font-family: 1rem;
  color: black;
  border-left: solid black;
  background-color: linen;
}

#top-links {
  position: absolute;
  top: 45px;
  right: 35px;
  list-style: none;
}

a {
  color: white;
}

#top-links li {
  display: inline;
  margin-right: 10px; /* Add some space between links */
}

header {
  text-align: center;
  background-color: #383d42;
  width: 100%;
  color: white;
  padding: 20px;
  letter-spacing: 3px;
  margin: 10px;
}
