@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 1.5px;
}

body {
  background-color: slategray;
  margin: 32 px;
  padding: 32 px;
}

.leftcolumn {
  width: 300px;
  float: left;
  color: white;
  font-size: 1rem;
  margin-bottom: 60px;
  margin-left: 110px;
}

#topright {
  height: 200px;
  width: 300px;
  border: 2px solid burlywood;
  float: right;
}

#top-links {
  position: absolute;
  top: 10px;
  right: 10px;
  list-style: none;
}

#top-links li {
  display: inline;
  margin-right: 10px; /* Add some space between links */
}

header {
  text-align: center;
  border: solid black;
  padding: 40px;
}
